<div>
	<div class="container">
		<div class="innerwrap">

			<section class="section1 clearfix">
				<div class="textcenter">
					<span class="shtext">
            <h1>Contact Me</h1>
          </span>
					<span class="seperator"></span>
				</div>
			</section>
			<section class="section2 clearfix">
				<div class="col2 column2 last">
					<div class="sec2innercont">

						<div class="sec2addr">
							<p>cité Coeur 3 pyrotechnie-Cité Keur Gorgui, BP : 3183, Dakar, Senegal</p>
							<p><span class="collig">Phone :</span> +221 778640018</p>
							<p><span class="collig">Email :</span> r1tsouapi@gmail.com</p>
							<p><span class="collig">Fax :</span> +221 778640018</p>
						</div>

					</div>
					<div class="sec2contactform">
						<h3 class="sec2frmtitle">Want to Know More about me?? Drop Me a Mail</h3>
						<form action="">
							<div class="clearfix">
								<input class="col2 first" type="text" placeholder="FirstName">
								<input class="col2 last" type="text" placeholder="LastName">
							</div>
							<div class="clearfix">
								<input  class="col2 first" type="Email" placeholder="Email">
								<input class="col2 last" type="text" placeholder="Contact Number">
							</div>
							<div class="clearfix">
								<textarea name="textarea" id="" cols="30" rows="7">Your message here...</textarea>
							</div>
							<div class="clearfix"><input type="submit" value="Send"></div>
						</form>
					</div>

				</div>
			</section>

		</div>
	</div>
  <div id="map"></div>


</div>
