<div class="fond">
  <div class="cont">
    <div class="col-sm-3" (click)="gotoEducation()">
      <div class="card">
        <div class="image">
          <mat-icon class="icone">school</mat-icon>
        </div>
        <div class="card-inner">
          <div class="header">
            <h2>Education</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3" (click)="gotoExperiences()">
      <div class="card">
        <div class="image">
          <mat-icon class="icone">trending_up</mat-icon>
        </div>
        <div class="card-inner">
          <div class="header">
            <h2>Experiences</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" (click)="gotoHobbies()">
        <div class="image">
          <mat-icon class="icone">group</mat-icon>
        </div>
        <div class="card-inner">
          <div class="header">
            <h2>Hobbies</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


