.background {
  display: flex;
}
.bg-image {
  display: flex;
  padding: 0;
  margin: 0;
  background-color: #cccccc;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(248, 238, 238);
}

.container .btn:hover:active {
  display: flex;
  background-color: rgb(47, 49, 146);
  color: white;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
h1{
  font-weight: bold;
  color: rgb(68, 70, 71);
}
h2{
  font-weight: 500;
  color: rgb(68, 70, 71);
}


